body{

  background: white;
}

body{
    margin: 0;
    padding: 0;
    font-size: 15px;
}


.fa{

    margin-left: 110px;
    background-color: rgb(150 120 225);
    color: white;
    font-size: 150%;

}


.r3  {

  display: inline-block;
  display: -moz-inline-box;
  *display: inline;
  zoom: 1;
  width: 33%;
  text-align: center;
  font-weight: bold;
  color:cornflowerblue;
}









































.compe{
    margin-left: 0px;
}
.try1 > div {
    display: inline-block;
    display: -moz-inline-box;
    *display: inline;
    zoom: 1;
    width: 33%;
    text-align: center;
}
.try2 > div {
    display: inline-block;
    display: -moz-inline-box;
    *display: inline;
    zoom: 1;
    width: 33%;
    text-align: center;
    font-weight: bold;
}
