body { 
    background-image: url("1.jpg"); 
    background-size: cover;
  }

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 0px;
    width: 100vw;
    height: 80px;
    text-align: right;
    border-width: 3px;
    border-style: solid;
    border-color:black;
    background-color: white;
    display : flex;
  }
    .elemflex2 {
    width :100%;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    padding-right: 100px;
    float:right;
  }

  .font {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
  }

  li {
    list-style-type: none;
    padding: 10px;
  }

  .main {
    
    padding-top: 100px;
    width: 100%;
  }

  .parent {
      display: flex;
      justify-content: space-around;
      color:blue;
  }
  .innerdivEnd {
      width : 30%;
      display: flex;
  }

  .innerdivMid {
      width : 37%;
      display: flex;
    
  }

  .innerDivEnd1 {
    width: 30%;
    border : solid;
    border-radius: 50%;
    text-align: center;
    background-color: cyan;
  }

  .innerDivMid1 {
    width: 22.5%;
    border : solid;
    border-radius: 50%;
    text-align: center;
    background-color: cyan;
  }

  .popup    {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    border:1 px blue;
    border-radius: 5px;
    padding: 15px;
    background-color:blue;
  }

  .closebutton {
      position: absolute;
      top : 0;
      background-color: crimson;
      right : 0
  }

  .displayButton {
      border-radius: 5%;
      color: cornflowerblue;
      background-color:antiquewhite;
      padding:15px;
      border:none;
      font-size: larger;
      font-weight: bold;
  }

  .flightNames {
      font-size:larger;
  }

  .flightHeader {
    font-size:larger;
    font-weight: bold;
}

.outerEle {
   padding-bottom:10px
}